{%extends 'base.html'%}
{%block title%}About Us{%endblock title%}
{%block body%}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4"><b>About Us</b></span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Who Are We</h1>
        <p class="col-md-8 fs-4">We are attractive and amazing just like your dream car. We are a link which connects to you to your dream car. We are CarBlink. com. Yes!!! We are here to provide you cars on your fingertips.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>What Is Our Vision?</h2>
          <p>Our vision is to help you in finding your dream car. Our desire is to provide you smooth and emmersive experience so that you can trust us and our relation become just like a wheels and steering we are incomplete with each other.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Why To Choose Us</h2>
          <p>There are many reasons to choose us.But what you want? What we want? Do you really know? So the answer is You need service and we want to provide world class service for you.So we are best in market by providing you a software which really helps you in various aspects.Suppose you want a sofware that works according you in a feasible cost price.So why are you looking so much? We provide you everything according to your need and which is best in market.</p>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}