{%extends 'base.html'%}
{%block title%}Contact Us{%endblock title%}
{%block body%}
<link rel="stylesheet" href="../static/login.css">
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="sub-banner">
  <div class="container breadcrumb-area">
      <div class="breadcrumb-areas">
          <h1 style="color: #fff;">Contact Us</h1>
          <ul class="breadcrumbs">
              <li><a href="index.html">Home</a></li>
              <li class="active">Contact Us</li>
          </ul>
      </div>
  </div>
</div>

<div class="contact-1 content-area-20" style="margin-bottom: 200px;">
  <div class="container">
      <!-- Main title -->
      <div class="main-title text-center">
          <h1>Contact Us</h1>
          <p>We'll Reach To You Soon!</p>
      </div>
      <div class="row g-0 contact-innner">
          <div class="col-lg-7 col-md-12">
              <div class="contact-form">
                  <h3 class="mb-20">Send us a Message</h3>
                  <form method="post" action="/contactus" class="row g-3 needs-validation" novalidate style="margin:5px auto">
                    {% csrf_token %}
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 botton-margin">
                              <div class="form-floating mb-20">
                                  <input type="text" class="form-control" id="name" placeholder="Full Name" name="name" required>
                                  <label for="name">Full Name</label>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 botton-margin">
                              <div class="form-floating mb-20">
                                  <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
                                  <label for="email">Email address</label>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 botton-margin">
                              <div class="form-floating mb-20">
                                  <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone" required>
                                  <label for="phone">Phone Number</label>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 botton-margin">
                              <div class="form-floating mb-20">
                                  <textarea class="form-control" placeholder="Leave a comment here" id="desc" name="desc" required></textarea>
                                  <label for="desc">Description</label>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="send-btn">
                                  <button type="submit" class="btn btn-5">Send Message</button>
                              </div>
                          </div>
                        </form>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-5 col-md-12">
              <div class="contact-info">
                  <h3 class="mb-20">Contact Info</h3>
                  <div class="ci-box d-flex mb-30">
                      <div class="icon">
                          <i class="flaticon-pin"></i>
                      </div>
                      <div class="detail align-self-center">
                          <h4>Address</h4>
                          <p>Sultanpur - Kadipur Rd, Sultanpur, Uttar Pradesh 228118</p>
                      </div>
                  </div>
                  <div class="ci-box d-flex mb-30">
                      <div class="icon">
                          <i class="flaticon-phone"></i>
                      </div>
                      <div class="detail align-self-center">
                          <h4>Phone Number</h4>
                          <p>
                              <a href="tel:0477-0477-8556-552">+91 9519097124</a>
                          </p>
                          <p>
                              <a href="tel:0477-0477-8556-552">+91 8954465600</a>
                          </p>
                      </div>
                  </div>
                  <div class="ci-box d-flex mb-40">
                      <div class="icon">
                          <i class="flaticon-mail"></i>
                      </div>
                      <div class="detail align-self-center">
                          <h4>Email Address</h4>
                          <p>
                              <a href="mailto:info@themevessel.com">code.buddy021@gmail.com</a>
                          </p>
                          <p>
                              <!-- <a href="mailto:info@themevessel.com">mdsobuzvaddro@gmail.com</a> -->
                          </p>
                      </div>
                  </div>

                  <!-- <h3 class="mb-20">Follow Us</h3> -->
                  <!-- <div class="social-media social-media-two">
                      <div class="social-list">
                          <div class="icon facebook">
                              <div class="tooltip">Facebook</div>
                              <span><i class="fa fa-facebook"></i></span>
                          </div>
                          <div class="icon twitter">
                              <div class="tooltip">Twitter</div>
                              <span><i class="fa fa-twitter"></i></span>
                          </div>
                          <div class="icon instagram">
                              <div class="tooltip">Instagram</div>
                              <span><i class="fa fa-instagram"></i></span>
                          </div>
                          <div class="icon github">
                              <div class="tooltip">Github</div>
                              <span><i class="fa fa-github"></i></span>
                          </div>
                          <div class="icon youtube mr-0">
                              <div class="tooltip">Youtube</div>
                              <span><i class="fa fa-youtube"></i></span>
                          </div>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<!-- <div class="container">
<form method="post" action="/contactus" class="row g-3 needs-validation" novalidate style="margin:5px auto">
  {% csrf_token %}
  <img src="/static/contact.jpg" alt="..." width="100px" height="400px">
  <h1>We'll Reach To You Soon!</h1>
    <div class="col-md-4">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
      <div class="valid-feedback">
      </div>
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="col-md-4">
        <label for="phone" class="form-label">Contact No.</label>
        <input type="text" maxlength="10" class="form-control" id="phone" name="phone" required>
        <div class="valid-feedback">
        </div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Tell Us! Why Do You Want To Contact? </label>
        <textarea class="form-control" id="desc" name="desc" rows="3" style="width:600px"></textarea>
      </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div> -->
{%endblock body%}